*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
    color: #f0f0f0;
}

section .infos{
    width: 100%;
    height: 20vh;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.infos .info{
    padding: 20px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
}
section .infos .info{
    font-size: 24px;
    font-weight: 600;
}
section .game-area{
    width: 80%;
    height: 80vh;
    margin: auto;
    border: 4px solid #f0f0f0;
    border-radius: 8px;
}




